.idea/
.history/
.project
.buildpath
.yardoc
.gradle
.devkit-token
*.tgz
*.gz
*.iws
*.iml
*.ipr
*.env
~*
*.~*
dist/
dist-node/
dist-esm/
build/
.cache/
webpack-tmp/
chunks/
node_modules/
*-lock.json
*-update.json
*-update.js
*.DS_Store
public/
target/
.finished
uu_videolibrary_maing01-server/public/.finished
uu_videolibrary_maing01-server/public/callbacks/oidc-callback.html
uu_videolibrary_maing01-server/public/hot-loader-react-common.js
uu_videolibrary_maing01-server/public/hot-loader-react-dom.js
uu_videolibrary_maing01-server/public/hot-loader-react-hot-loader.js
uu_videolibrary_maing01-server/public/index.html
uu_videolibrary_maing01-server/public/index.js
uu_videolibrary_maing01-server/public/index_v2.html
uu_videolibrary_maing01-server/public/loading.css
uu_videolibrary_maing01-server/public/index.js
