.idea/
.history/
.project
.buildpath
.yardoc
.gradle
.devkit-token
*.tgz
*.gz
*.iws
*.iml
*.ipr
~*
*.~*
dist/
dist-node/
dist-esm/
build/
.cache/
webpack-tmp/
chunks/
node_modules/
*-lock.json
*-update.json
*-update.js
*.DS_Store
*public/
